body {
  background: #f4f5fa;
  overflow-x: hidden;
}

/* .card-container {
  height: 120vh;
  display: inline;
  background: #232427;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

.card-container .card {
  display: flex;
  background: #232427;
  min-width: 320px;
  height: 240px;
  box-shadow: inset -5px -5px -5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
} */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 5%; */
  justify-content: space-around;
}

.nav {
  background: #1a2b37;
}
.nav h1 {
  color: white;
  margin-left: 2.5%;
  margin-top: 1%;
  display: inline-block;
  font-size: x-large;
}

.nav h1 span {
  color: #fc626b;
}

.nav i {
  top: 2%;
}

.nav .fa-power-off {
  font-size: 1.2rem;
  position: absolute;
  right: 1%;
  color: white;
  transition: all 0.3s ease-in-out;
}

.nav .fa-power-off:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: #fc626b;
}

.nav .fa-calendar-alt {
  font-size: 1.2rem;
  position: absolute;
  right: 5%;
  color: white;
  transition: all 0.3s ease-in-out;
}

.nav .fa-calendar-alt:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: #fc626b;
}

.nav .fa-bolt {
  font-size: 1.2rem;
  position: absolute;
  top: 3%;
  left: 1%;
  color: #fc626b;
}

.nav .fa-bars {
  font-size: 1.2rem;
  position: absolute;
  right: 9%;
  color: white;
  transition: all 0.3s ease-in-out;
}

.nav .fa-bars:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: #fc626b;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 73vh;
  justify-content: center;
  background: #1a2b37;
}
/* #242e35; */

.container .card {
  width: 380px;
  height: 200px;
  margin-top: -6%;
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-image: url("graph_Background.png");

  background-size: cover;
  background-position: center;
  background-size: 90% 75%;
  background-repeat: no-repeat;
}

/* .container .cardOne:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fc626b;
  opacity: 20%;
  clip-path: circle(300px at 80% -20%);
  transition: 0.5s ease-in-out;
} */

/* .container .cardTwo:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fdb901;
  opacity: 20%;
  clip-path: circle(300px at 80% -20%);
  transition: 0.5s ease-in-out;
} */

/* .container .cardThree:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #28afd0;
  opacity: 20%;
  clip-path: circle(300px at 80% -20%);
  transition: 0.5s ease-in-out;
} */

.container .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.container .card:after {
  /* content: "Fuel"; */
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 25, 0.05);
}

/* .container .card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
} */

/* .container .card:hover .imgBx {
  top: 0%;
  transform: translateY(0%);
} */

/* .container .card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 270px;
} */

.container .card .contentBx {
  position: absolute;
  /* bottom: 0; */
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}

.container .card:hover .contentBx {
  height: 210px;
}

.container .card .contentBx .energy {
  display: inline-block;
  position: relative;
  text-align: left;
  margin-right: 45%;
  padding-left: 0;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fc626b;
  font-size: medium;
  /* margin-top: 5%; */
}
.container .card .contentBx .fa-bolt {
  position: absolute;
  right: 2%;
  top: 5%;
  font-size: 1.6rem;
  color: #fc626b;
}
.container .card .contentBx .fa-trash {
  position: absolute;
  right: 2%;
  top: 5%;
  color: #fdb901;
  font-size: 1.4rem;
}
.container .card .contentBx .fa-tint {
  position: absolute;
  right: 2%;
  top: 5%;
  color: #28afd0;
  font-size: 1.7rem;
}
.container .card .contentBx .waste {
  position: relative;
  text-align: left;
  margin-left: 3%;
  padding-left: 0;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fdb901;
  font-size: medium;
  /* margin-top: 5%; */
}
.container .card .contentBx .water {
  position: relative;
  text-align: left;
  margin-left: 3%;
  font-weight: 600;
  letter-spacing: 1px;
  color: #28afd0;
  font-size: medium;
  /* margin-top: 5%; */
}
.container .card .contentBx .size,
.container .card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  opacity: 1;
  visibility: visible;
  padding-top: 0;
  padding-bottom: 0;
}

/* .container .card:hover .contentBx .size {
  opacity: 1;
  visibility: visible;
  /* transition-delay: 0.5s; */
/* }  */

.container .card:hover .contentBx .color {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.container .card .contentBx .size h3,
.container .card .contentBx .color h3 {
  color: black;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}

.container .card .contentBx .size .one {
  text-align: center;
  font-size: 6rem;
  text-shadow: 1px 1px 1px black;
  font-weight: 800;
  color: #fc626b;
}

.container .card .contentBx .size .two {
  text-align: center;
  font-size: 6rem;
  text-shadow: 1px 1px 1px black;
  font-weight: 800;
  color: #fdb901;
}

.container .card .contentBx .size .three {
  text-align: center;
  font-size: 6rem;
  text-shadow: 1px 1px 1px black;
  font-weight: 800;
  color: #28afd0;
}

/* .container .card .contentBx .size span {
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
} */

/* .container .card .contentBx .size span:hover {
  background: #9bdc28;
} */

/* .container .card .contentBx .color span {
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
} */

/* .container .card .contentBx .color span:nth-child(2) {
  background: #9bdc28;
}

.container .card .contentBx .color span:nth-child(3) {
  background: #03a9f4;
}

.container .card .contentBx .color span:nth-child(4) {
  background: #e91e63;
} */

.container .card .contentBx .oneOne {
  display: inline-block;
  padding: 0 6px 1px 6px;
  margin-top: 18px;
  margin-left: 308px;
  font-size: small;
  border: 2px solid #fc626b;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #fc626b;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  /* margin-top: 0px; */
}

.container .card .contentBx .twoTwo {
  display: inline-block;
  padding: 0 6px 1px 6px;
  margin-top: 20px;
  margin-left: 308px;
  font-size: small;
  border: 2px solid #fdb901;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #fdb901;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  /* margin-top: 0px; */
}

.container .card .contentBx .dateOne {
  margin-top: -20px;
  margin-right: 230px;
  font-size: medium;
  color: #fc626b;
}

.container .card .contentBx .dateTwo {
  margin-top: -20px;
  margin-right: 230px;
  font-size: medium;
  color: #fdb901;
}

.container .card .contentBx .dateThree {
  margin-top: -20px;
  margin-right: 230px;
  font-size: medium;
  color: #28afd0;
}
.container .card .contentBx .threeThree {
  display: inline-block;
  padding: 0 6px 1px 6px;
  margin-top: 20px;
  margin-left: 308px;
  font-size: small;
  border: 2px solid #28afd0;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #28afd0;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  /* margin-top: 0px; */
}

.container .card:hover .contentBx a {
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.3s;
}

table {
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  font-family: "Ubuntu"; /*border-collapse: collapse;*/
  border-spacing: 0;
  background-color: #333333;
}

th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}

th {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.5);
  background-color: #292929;
  letter-spacing: 1px;
}

td {
  width: 14.285%;
  transition: all 0.3s;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  padding: 1.5% 1.5% 5%;
  vertical-align: initial;
  padding: 1.5% 0;
  height: 75px;
}

.day:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.today {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25) !important;
}

span.number {
  margin-left: 10%;
}

span.event {
  height: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  margin: 5px 10%;
  border-radius: 2px;
  background-color: #766a55;
}

span.event-multiday {
  margin: 5px -2px;
  border-radius: 0;
}
span.event-multiday-start {
  margin-right: -4px;
}
span.event-multiday-finish {
  margin-left: -4px;
}

span.event-ghost {
  background-color: transparent;
}

.calender {
  margin-top: 5%;
  display: 100vh;
  justify-content: space-around;
  width: 100%;
}
